body{ 
    background-image: url("../images/Friends-blk-bkgrd.jpg");
    color: rgb(0, 0, 0);
    text-align: center;
}

.container{
    opacity: .9;
    background-color: aliceblue;
    height: 800px;
}

h1{
    font-weight: bolder;
    background-color: aliceblue;
    margin: auto 0;
    text-align: center;
    color: black;
    border: solid 1px;
    border-radius: 5px;
    opacity: 1.0;
}

button,
.start {
    opacity: 1.0;
    background-color: gold;
    width: 200px;
    text-align: center;
    margin: auto 0;
} 

